/*
Copyright Alex Reynolds, 2013
*/

html { 
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	color: #FFF;
	font-family: 'Dosis', Arial, sans-serif;
	font-weight: 400;
	font-size: .8em;
}

a {
	text-decoration:none;
}

h1 {
	color: #FFF;
	font-family: 'Quando', Helvetica, sans-serif;
	font-size: 4em;
    margin-bottom: .2em;
}

#brainswrapper {
    width: 308px;
    overflow: hidden; /* contains floated children */
    text-align: center;
    margin: 0 auto;
}

/* The brain images */
#brains {
    position: relative;
    width:154px;
    height:260px;
    margin: 0 auto;
    float:left;
}

#brains img {
    position: absolute;
    width: 154px;
    height: 260px;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

#brains img.top:hover {
    opacity: 0;
}

div.braindesc {
    visibility: hidden;
}

/* For the "Alex Reynolds" */
.header {
	text-align: right;
	padding-right: 20px;
}

/* The main content class */
.main {
    display:table;
	left:200px;
    text-align: center;
	height: 100%;
	width: 100%;
    margin-top:50px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.mainchild {
    display: table-cell;
    vertical-align: middle;
    height:100%;
    width:80%;
    text-align: center;
}

/* FOR THE NAVIGATION */
#navwrapper {
    width:100%;
    margin-top: 3%;
    margin-bottom: 0;
}

/* The div containing navigation */
#navwrapper ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    width: 100%;
}

#navwrapper ul li {
    display: inline-block;
}

#navwrapper ul li a {
    text-decoration: none;
    padding: .2em;
    margin: .2em;
    color: #FFF;
    font-size: 1.7em;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

#navwrapper ul li a:hover {
    color: #c2ff1f;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #3bd8ff;
}

#navwrapper li.selected a {
    color: #3bd8ff;
}